<div class="main-container">
    <div class="div">
      <div class="form-container " style="text-align: center; padding-top: 10px;">
            
            <div class="logo-container">
                 <h1>
                    Logo
                 </h1>
            </div>
           <div class="loginHeader">
             <h2>Login</h2>
           </div>
           <form action="">
            <mat-form-field appearance="outline">
              <mat-label>UserName</mat-label>
              <input matInput placeholder="Username">
            </mat-form-field> <br>
            <mat-form-field appearance="outline">
              <mat-label>Passoword</mat-label>
              <input matInput placeholder="Password">
            </mat-form-field> 
           </form>
    
           <section>
            <div class="example-button-row">
              <button mat-raised-button color="primary" (click)="login()">LOGIN</button>
             
            </div>
          </section>
  
          <mat-dialog-actions>
            <button mat-raised-button color="primary" (click)="openDialog()">open</button>
          </mat-dialog-actions>
          
     
         
     
    
           
       
    
             
      </div>
    </div>
  </div>
