:host{

    input, mat-form-field{
        width:20rem !important;
    }
    button{
        width: 20rem !important;
    }
    .div{
     

  position: relative;
    }
    .form-container{
        margin-top: 10rem;

    }
}