:host{
    mat-form-field{
       margin-left: auto !important;
       margin-right: auto !important;
       width: 15rem !important;
    }
    .example-button-row button{
        width: 15rem !important;
        margin-top: 0.9rem;
    }
    .instrPic{
        width: 150px;
        height: 150px;
    }
}