<h2 mat-dialog-title>Privacy Policy for Culture Mapping</h2>
<mat-dialog-content class="mat-typography">
  <h3>1. Introductions</h3>
  <p>
    Welcome to Culture Mapping ("the App"). At [Your Company Name], we are
    committed to protecting your privacy and ensuring the security of your
    personal information. This Privacy Policy explains how we collect, use, and
    protect your personal information in accordance with the Protection of
    Personal Information Act (POPIA) and other applicable laws.
  </p>

  <h3>2. Information We Collect</h3>
  <p>
    We collect and process personal information for the purpose of providing our
    services. The types of personal information we may collect include but are
    not limited to: - [List the types of personal information you collect, e.g.,
    name, email, phone number, location data, etc.].
  </p>

  <h3>3. How We Use Your Information</h3>
  <p>
    We may use your personal information for the following purposes: - [List the purposes for which you use personal information, e.g., to provide our services, personalize user experience, send notifications, etc.]
  </p>

  <h3>4. Sharing Your Information</h3>
  <p>
    We do not sell or rent your personal information to third parties. We may share your information with trusted service providers and partners who help us operate and improve our services, but only as necessary for those purposes and subject to contractual protections.
  </p>

  <h3>5. Data Security</h3>

  <p>
    We take reasonable technical and organizational measures to protect your personal information. We implement industry-standard security measures to safeguard your data against unauthorized access, disclosure, alteration, and destruction.
  </p>

  <h3>6. Your Rights</h3>

  <p>
    Under POPIA, you have certain rights regarding your personal information, including the right to access, rectify, and delete your data. You can exercise these rights by [provide instructions for users to exercise their rights].
  </p>
  <h3>7. Changes to This Privacy Policy</h3>

  <p>
    We may update this Privacy Policy from time to time to reflect changes in our practices or for other operational, legal, or regulatory reasons. Any changes will be posted on this page with an updated effective date.
  </p>
  <h3>8. Contact Us</h3>

  <p>
    If you have any questions or concerns about this Privacy Policy or how we handle your personal information, please contact us at [Your Contact Information].
  </p>
  <p>
    If you have any questions or concerns about this Privacy Policy or how we handle your personal information, please contact us at [Your Contact Information].
  </p>
  <p>
    By using the Culture Mapping App, you consent to the terms of this Privacy Policy and our processing of your personal information in accordance with POPIA and other applicable data protection laws.
  </p>
  <button (click)="test()">try</button>


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button color="warn" mat-raised-button mat-dialog-close>Reject</button>
  <button color="primary"mat-raised-button [mat-dialog-close]="true" cdkFocusInitial>Accept</button>
</mat-dialog-actions>
